/* SCSS Variables */
/* HEIGHT
 $height-nav: 30px;
 $height-primary: 125px;
 $height-secondary: 75px;
 $height-tertiary: 50px; */
/* GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem; */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* Simple Browser basic reset using universal selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box; }

.site {
  width: 100%;
  margin: 5px auto;
  color: #222831;
  background-color: grey;
  padding: 10px;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center; }

.footer {
  /* background-color: #ee8572; */
  height: 20vh;
  background-image: url(../images/UnitedStates/VancouverToCAride/BecksBabePano.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.site {
  display: grid;
  gap: 20px;
  grid-template-areas: "head   head   head   head   head" "nav    nav    nav    nav    nav" "dest   rposts rposts rposts rposts" "pposts pposts pposts recipe recipe"    "foot   foot   foot   foot   foot"; }

.header {
  /* background-color: #63b7af; */
  grid-area: head;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 4fr;
  grid-template-rows: 1fr 2fr 2fr 1fr; }
  .header-primary {
    grid-column: 3 / 4;
    grid-row: 2 / 3; }

.navigation {
  grid-area: nav; }

.destinations {
  grid-area: dest; }

.recent-posts {
  grid-area: rposts; }

.popular-posts {
  grid-area: pposts; }

.recent-recipe {
  grid-area: recipe; }

.footer {
  grid-area: foot; }

.header {
  /* background-color: #63b7af; */
  height: 40vh;
  background-image: url(../images/PeruIncaTrail/BeckPanoHeader.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right; }

.heading-primary {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  color: #00001a;
  font-family: 'Gloria Hallelujah', cursive;
  backface-visibility: hidden;
  margin-bottom: 6rem; }

.heading-primary--main {
  display: block;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 3rem;
  animation: moveInLeft 2s ease-out; }

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1.75rem;
  animation: moveInRight 2s ease-out; }

.destinations {
  background-color: #abf0e9; }

.recent-posts {
  background-color: #d4f3ef;
  height: 20vh; }

.popular-posts {
  background-color: #d4f3ef;
  height: 20vh; }

.recent-recipe {
  background-color: #abf0e9; }
