*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box;
 }

 /* SCSS Variables
 $color-nav: #ee8572;  //8566aa or 46185f or d79abc
 $color-primary: #63b7af;  //6983aa or 297ca0 or dcffcc
 $color-secondary: #d4f3ef;  //f4f4f4 or bbbbbb or baabda
 $color-tertiary: #abf0e9;  //8ec6c5 or e9ea77 or 9fdfcd
 
 $height-nav: 30px;
 $height-primary: 125px;
 $height-secondary: 75px;
 $height-tertiary: 50px;
 */
 
 .site {
   width: 100%;
   margin: 5px auto;
   color: #222831;
   background-color: grey;
   padding: 10px;
   font-size: 20px;
   font-family: sans-serif;
   text-align: center;
   
   display: grid;
   gap: 20px;
   
   grid-template-areas: "head   head   head   head   head"
                        "nav    nav    nav    nav    nav"
                        "dest   rposts rposts rposts rposts"
                        "pposts pposts pposts recipe recipe"   
                        "foot   foot   foot   foot   foot";
 }
 
 .header {
    /* background-color: #63b7af; */
    grid-area: head;
    height: 40vh;
    background-image: url(../images/PeruIncaTrail/BeckPanoHeader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 4fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
  }

  .heading-primary {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    color: #;
    font-family: 'Gloria Hallelujah', cursive;
    backface-visibility: hidden;
    margin-bottom: 6rem; }
    .heading-primary--main {
      display: block;
      text-transform: uppercase;
      font-size: 6rem;
      font-weight: 700;
      letter-spacing: 3rem;
      animation: moveInLeft 2s ease-out; }
    .heading-primary--sub {
      display: block;
      font-size: 2rem;
      font-weight: 300;
      letter-spacing: 1.75rem;
      animation: moveInRight 2s ease-out; }
 
  .navigation {
   background-color: #ee8572;
   grid-area: nav;
   height: 3vh;
 }

 .destinations {
    background-color: #abf0e9;
    grid-area: dest;    
 }
 
 .recent-posts {
   background-color: #d4f3ef;
   grid-area: rposts;
   height: 20vh;
 }
 
 .popular-posts {
   background-color: #d4f3ef;
   grid-area: pposts;
   height: 20vh;
 }
 
 .recent-recipe {
   background-color: #abf0e9;
   grid-area: recipe;
 }
 
 .footer {
   /* background-color: #ee8572; */
   grid-area: foot;
   height: 20vh;
   background-image: url(../images/UnitedStates/VancouverToCAride/BecksBabePano.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
 } 