/* For float layout - see Natours project */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* Simple Browser basic reset using universal selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  padding: .2rem;
  background-color: grey; }

.heading-primary {
  color: #f5f5f5;
  font-family: 'Gloria Hallelujah', cursive;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    text-transform: uppercase;
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: 4rem;
    animation: moveInLeft 2s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1.75rem;
    animation: moveInRight 2s ease-out; }

/* hr {
	border: 0;
	height: 1px;
	width: 400px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
} */
.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2rem;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(171, 240, 233, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(171, 240, 233, 0.2); }

.btn--white {
  background-color: #d4f3ef;
  color: #abf0e9; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.navigation {
  background-color: #ee8572;
  text-align: center; }

/*
nav ul {
	float: right;
	margin-right: 40rem;
}

nav li {
	list-style: none;
	display: inline-block;
	margin: 0 3rem;
	line-height: 8rem;
}

nav a {
	text-decoration: none;
	color: $color-white;
	font-size: 1.5rem;
	text-transform: uppercase;
	border: .1rem solid transparent;
	padding: .7rem 1rem;
	border-radius: .3rem;
}

.navbar-brand {
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: .5rem;
}

a.active,
a:hover {
	border: .1rem solid $color-light;
	color: $color-white;
	font-weight: 400;
}
*/
.footer {
  background-color: #ee8572;
  text-align: center; }

/* CUSTOM GRID using FLOATS  */
.row {
  /* max-width best because if we have enough available space it will use value specified - otherwise fill 100% */
  max-width: 114rem;
  /* 1140px/10 = 114rem - standard definition of a row */
  margin: 0 auto;
  /* Trick used to center block elements inside another block element - left and right auto  */
  /*row has a zero pixel height because all child elements of this row element are floated so the
                        height collapses and becomes zero - solution ... "clearfix" hack  */ }
  .row:not(:last-child) {
    /* without "not" this would select ".row:last-child() - "not" does the opposite - everything except the last child */
    margin-bottom: 8rem;
    /* all rows except last will receive margin  */ }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    /* Since we are using a float layout we always want the columns floated to left side   */ }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem;
      /* Allows for gutter between columns except the last  */ }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

/* CSS GRID LAYOUT
.container {
    width: 100%;
    margin: 5px auto;
    color: #222831;
    background-color: #ddd;
    padding: 10px;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    
    display: grid;
    grid-gap: 30px;
    grid-template-areas: "nav    nav    nav    nav    nav"
                         "head   head   head   head   head"
                         "dest   rposts rposts rposts rposts"
                         "pposts pposts pposts recipe recipe"   
                         "foot   foot   foot   foot   foot";
  }
  
  .navigation {
    background-color: $color-nav;
    grid-area: nav;
    height: $height-nav;
  }
  
  .header {
    background-color: $color-primary;
    grid-area: head;
    height: $height-primary;
  }
  
  .recent-posts {
    background-color: $color-secondary;
    grid-area: rposts;
    height: $height-secondary;
  }
  
  .popular-posts {
    background-color: $color-secondary;
    grid-area: pposts;
  }
  
  .destinations {
    background-color: $color-tertiary;
    grid-area: dest;
    height: $height-secondary;
  }
  
  .recent-recipe {
    background-color: $color-tertiary;
    grid-area: recipe;
  }
  
  .footer {
    background-color: $color-nav;
    grid-area: foot;
    height: $height-nav;
  }
  */
.header {
  background-color: #63b7af;
  text-align: center;
  /* min-height: 35vh; */
  /* at every point the height of this element should be 95% of the viewport height */
  /* background-image: url(../images/Argentina/IMG_2667.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

	&__color-overlay {
		width: 100%;
		height: 100%;
		background: $color-tertiary;
		opacity: 0.7;
		position: absolute;
	}

	&__text-box {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
	*/ }

.destinations {
  background-color: #abf0e9;
  text-align: center; }

.recent-posts {
  background-color: #d4f3ef;
  text-align: center; }

.popular-posts {
  background-color: #d4f3ef;
  text-align: center; }

.recent-recipes {
  background-color: #abf0e9;
  text-align: center; }
