.footer {
    /* background-color: #ee8572; */
    height: 20vh;
    background-image: url(../images/UnitedStates/VancouverToCAride/BecksBabePano.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  } 