.site {
    display: grid;
    gap: 20px;
    
    grid-template-areas: "head   head   head   head   head"
                         "nav    nav    nav    nav    nav"
                         "dest   rposts rposts rposts rposts"
                         "pposts pposts pposts recipe recipe"   
                         "foot   foot   foot   foot   foot";
  }
  
  .header {
     /* background-color: $color-primary */
     grid-area: head;
      
     display: grid;
     gap: 5px;
     grid-template-columns: 1fr 1fr 4fr;
     grid-template-rows: 1fr 2fr 2fr 1fr;

     .heading-primary {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
       }
   }
    
  .navigation {
    grid-area: nav;
  }
 
  .destinations {
     grid-area: dest;    
  }
  
  .recent-posts {
    grid-area: rposts;
  }
  
  .popular-posts {
    grid-area: pposts;
  }
  
  .recent-recipe {
    grid-area: recipe;
  }
  
  .footer {
    grid-area: foot;
  } 