.header {
    /* background-color: #63b7af; */
    height: 40vh;
    background-image: url(../images/PeruIncaTrail/BeckPanoHeader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
  }

  .heading-primary {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    color: #00001a;
    font-family: 'Gloria Hallelujah', cursive;
    backface-visibility: hidden;
    margin-bottom: 6rem; }
    .heading-primary--main {
      display: block;
      text-transform: uppercase;
      font-size: 6rem;
      font-weight: 700;
      letter-spacing: 3rem;
      animation: moveInLeft 2s ease-out; }
    .heading-primary--sub {
      display: block;
      font-size: 2rem;
      font-weight: 300;
      letter-spacing: 1.75rem;
      animation: moveInRight 2s ease-out; }