.header {
  height: 40vh;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
  margin-bottom: 1rem;

  .bg-image {
    position: absolute;
    background-image: url(../../images/PeruIncaTrail/BeckPanoHeader.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 95vw;
    height: 40vh;
    z-index: -10;
    border-radius: 2rem;
    opacity: .5;
  }

  .heading-primary {        
    grid-column: 2/3;
    grid-row: 1/4;
    

    &--main {
      display: block;
      color: $color-dark;
      text-transform: uppercase;
      font-size: $large-font-size;
      font-weight: 700;
      letter-spacing: .5rem;
      padding: 1.5rem 1.5rem 0 1.5rem;
      margin-top: 1rem;
    }

    &--sub {
      display: block;
      color: $color-primary;
      font-size: $default-font-size;
      font-weight: 400;
      letter-spacing: .5rem;
      padding: 1.5rem;
    }  
  }
}