.destinations {
    background-color: $color-tertiary;
 }
 
 .recent-posts {
   background-color: $color-secondary;
   height: 20vh;
 }
 
 .popular-posts {
   background-color: $color-secondary;
   height: 20vh;
 }
 
 .recent-recipe {
   background-color: $color-tertiary;
 }