.destinations {
	background-color: $color-tertiary;
	text-align: center;
}

.recent-posts {
	background-color: $color-secondary;
	text-align: center;
}

.popular-posts {
	background-color: $color-secondary;
	text-align: center;
}

.recent-recipes {
	background-color: $color-tertiary;
	text-align: center;
}