/*
html {
	font-size: 62.5%; /* Advanced CSS Udemy - set the "root" font to 10px equivalent in % - easy to calculate rem units thereafter 
} */

html {
	height: 100%;
}

h1 {
	font-weight: 700;
	font-size: 1.1em;
	margin: 2rem;
}

.header {
	min-height: 95vh; /* % of viewport height for element */
	background-image: url(images/Argentina/IMG_2667.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	position: relative;
}

.header__color-overlay {
	width: 100%;
	height: 100%;
	background: #00001a;
	opacity: 0.5;
	position: absolute;
}

.nav-link,
.navbar-brand {
	color: white;
}

.title {
	color: white;
	text-align: center;
	font-size: 5rem;
}
