.destinations {
    background-color: #abf0e9;
 }
 
 .recent-posts {
   background-color: #d4f3ef;
   height: 20vh;
 }
 
 .popular-posts {
   background-color: #d4f3ef;
   height: 20vh;
 }
 
 .recent-recipe {
   background-color: #abf0e9;
 }