.destinations {
    background: $color-tertiary;
    color: $color-dark;
    text-align: center;
    margin: 3rem; 
 }
 
 .recent-posts {
   background-color: $color-secondary;
 }
 
 .popular-posts {
   background-color: $color-secondary;
 }
 
 .recent-recipe {
   background-color: $color-tertiary;
 }