.header {
    /* background-color: $color-primary; */
    height: 40vh;
    background-image: url(../images/PeruIncaTrail/BeckPanoHeader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    border-radius: 3rem;
  }

  .heading-primary {
    color: $color-dark;
    font-family: 'Gloria Hallelujah', cursive;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
      display: block;
      text-transform: uppercase;
      font-size: 6rem;
      font-weight: 700;
      letter-spacing: 3rem;
      animation: moveInLeft 2s ease-out;
      
      display: inline-block; /* regular element occupied entire page width - inline-block allows for element to occupy only
      width of content   */
      background-image: linear-gradient(to right, $color-dark, $color-blue);
      -webkit-background-clip: text; /* Will "clip" background to exactly where the text sits only - only visible where text is */
      color: transparent; /* Sets color of text to transparent to have the background effect visible only */
      transition: all .2s;
  
      &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-dark, .2);
      }
    
    }
    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 300;
      letter-spacing: 1.75rem;
      animation: moveInRight 2s ease-out;

      display: inline-block; /* regular element occupied entire page width - inline-block allows for element to occupy only
      width of content   */
      background-image: linear-gradient(to right, $color-blue, $color-pink);
      -webkit-background-clip: text; /* Will "clip" background to exactly where the text sits only - only visible where text is */
      color: transparent; /* Sets color of text to transparent to have the background effect visible only */
    
    }
   }
    