/*
COLORS:
Light Grey: #f5f5f5
Grey: #e0dede
light pink: #ffa5b0
Light purple: #6a197d
Dark purple: #00001a
*/

/* Simple Browser basic reset using universal selector */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* Change the box model so borders and paddings are no longer added to total height and width that we specify for the box */
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.7;
	color: #f5f5f5;
	padding: .2rem;
}

html {
	height: 100%;
}

h1 {
	font-weight: 700;
	font-size: 1.1rem;
	margin: 2rem;
}

/* hr {
	border: 0;
	height: 1px;
	width: 400px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
} */

.header {
	min-height: 95vh; /* at every point the height of this element should be 95% of the viewport height */
	background-image: url(../images/Argentina/IMG_2667.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}

.header__color-overlay {
	width: 100%;
	height: 100%;
	background: #00001a;

	opacity: 0.65;
	position: absolute;
}

.nav-link,
.navbar-brand {
	color: white;
}

.nav-link:hover {
	color: #00001a;
}

.dropdown-menu,
.btn,
.form-control {
	font-size: 1.6rem;
}

.text-box {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.heading-primary {
	color: #fff;
	font-family: 'Gloria Hallelujah', cursive;
	backface-visibility: hidden;
	margin-bottom: 6rem;
}

.heading-primary-main {
	display: block;
	text-transform: uppercase;
	font-size: 8rem;
	font-weight: 700;
	letter-spacing: 4rem;
	animation: moveInLeft 2s ease-out;
}

.heading-primary-sub {
	display: block;
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: 1.75rem;
	animation: moveInRight 2s ease-out;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}

	80% {
		transform: translateX(1rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}

	80% {
		transform: translateX(-1rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .2rem;
	padding: 1.5rem 4rem;
	display: inline-block;
	border-radius: 10rem;
	transition: all .2s;
	font-size: 1.6rem;
}

.btn:hover {
	transform: translateY(-.3rem);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn-white {
	background-color: #ffa5b0;
	color: #00001a;
}

.btn-animated {
	animation: moveInBottom .5s ease-out .75s;
	animation-fill-mode: backwards;
}

.recentPosts {
	padding: 3rem;
}

.footer {
	padding: 3rem;
	background-image: url(../images/footer/footer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
